<div id="operationForm">
    <div class="form-group-custom">
        <button class="btn btn-success button-custom" value="5000">5000</button>
        <button class="btn btn-success button-custom" value="10000">10000</button>
    </div>
    <div class="form-group-custom">
        <button class="btn btn-success button-custom" value="20000">20000</button>
        <button class="btn btn-success button-custom" value="50000">50000</button>
    </div>
    <div class="form-group-custom">
        <div>
            <input  id="inputCash" name="inputCash" class="form-control" type="text" placeholder="введите сумму">
        </div>
        <div>
            <button id="withdraw" class="btn btn-primary" value="">Снять</button>
        </div>        
    </div>
</div>
<div id="state" style="display:none">
    <h4></h4>
</div>
<script>
    $("div>button").on("click", function (e) {  

        if ($(this).val() == "") {
            $("#inputCash").addClass("input-error");
            return;
        }

        var summa = { value: $(this).val() };
        $.getJSON("/Home/Summa", summa, function (result) {
            $("#operationForm").hide();
            $("#state").css("display", "block");
            $("#state>h4").text(result.message);
        });
    })
    $("#inputCash").change(function () {
        $("#withdraw").attr("value", $(this).val());
    })

    $("#inputCash").keypress(function (event) {

        $("#inputCash").removeClass("input-error");

        if ($(this).val().length > 6) {
            return false;
        }
        if (/[0-9]/.test(event.key) == false) {
            return false;
        }
    })
</script>